.wrapperPage {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--contrast-color);

}

.wrapperMain {
    position: relative;
    display: flex;
}

.wrapperContent {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--main-color);
    margin: var(--spacing-b-sm) calc(var(--spacing-lg));
    
}
