.product {
    --size-product: 250px;
    position: relative;
    flex: calc(1/3);
    min-width: calc(var(--size-product) - 20px);
    text-decoration: none;
    height: 350px;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    color: var(--main-color);

    &:last-child {
        margin-right: 0;
    }

    &:hover .productImageWrapper::before {
        opacity: 1;
    }


    .productHeading {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-weight: var(--font-w-lg);
        font-size: var(--font-s-lg);
        margin-bottom: var(--spacing-vr-sm);
        overflow: hidden;
        z-index: 1;
        position: relative;
        margin-top: var(--spacing-sm);
        margin-left: var(--spacing-sm);
    }

    .productImageWrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-bottom: var(--spacing-sm);

        .productImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            scale: 1;
            transition: scale 0.2s ease-out;
        }

    }

    &:hover .productImage {
        scale: (1.1);
    }


    .productInfo {
        position: absolute;
        padding: var(--spacing-sm);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--transparent-dark);
        transition: background-color 0.2s ease-out;
        color: var(--contrast-color);
        bottom: 0;
        width: 100%;
        height: 150px;

            .productPrice {
                display: flex;
                justify-content: space-between;
                font-size: var(--font-s-md);
                text-shadow: 0 2px 5px var(--main-color);
                align-items: center;
            }

            .containerButtonCompare {
                position: relative;
                margin-left: auto;
                display: flex;
                justify-content: space-between;
            }

            .compareButton {
                min-width: 100px;
                max-width: 150px;
                font-size: var(--font-s-sm);
                background-color: var(--primary-color);
                color: var(--contrast-color);
                transition: background-color 0.2s ease-out;

                &:hover {
                    background-color: var(--dark-primary-color);
                }
            }

            .btnIcon {
                min-width: 30px;
                padding: var(--spacing-vr-sm) 0;
                margin-left: auto;
            }

            .btnClearCompare {
                background-color: var(--sub-primary-color);
            }

            .btnClearCompare:hover {
                background-color: var(--sub-primary-lower-color);
            }

            .btnDetail {
                margin-left: auto;
                font-size: var(--font-s-md);
                display: flex;
                align-items: center;
            }

            .iconDetail {
                margin-left: vaR(--spacing-vr-sm);
                font-size: var(--font-s-sm);
            }
            
            .productDesc {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: var(--font-s-sm);
                overflow: hidden;
                height: 25px;
            }
    }

    &:hover .productInfo {
        background-color: var(--transparent-dark-1);
    }

}





.compareMark {
    position: absolute;
    z-index: var(--z-higher);
    top: var(--spacing-sm);
    background-color: var(--primary-color);
    padding: var(--spacing-vr-sm);
    right: -4px;
    border-top-left-radius: var(--border-radius-lt);
    border-bottom-left-radius: var(--border-radius-lt);
    display: none;
    color: var(--contrast-color);
    font-size: var(--font-s-sm);

    &::before {
        content: '';
        position: absolute;
        border-top: 3px solid var(--dark-primary-color);
        right: 0;
        bottom: -3px;
        border-right: 4px solid transparent;
    }
}

.compareMark.mark {
    display: block;
}
