.formInfoItem {
    margin: var(--spacing-md) 0;
}

.formTitle {
    display: block;
    font-weight: 500;
    font-size: var(--font-s-lg);
    margin-right: var(--spacing-md);
    margin-bottom: var(--spacing-vr-sm);
}

.formInput {
    width: 100%;
    font-size: var(--font-s-md);
    padding: var(--spacing-vr-sm) 0;
    color: vaR(--contrast-color);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--transparent-light);

    &:focus {
        border-bottom: 2px solid var(--primary-color);
    }
}

.fileInput {
    width: auto;
    border: none;
}

.importantInfoIcon {
    color: var(--sub-primary-color);
}
