.overview {
    display: flex;
    flex: 1;
    font-size: var(--font-s-md);
    padding: 0 var(--spacing-lg);
    justify-content: center;
}

.editIcon {
    position: absolute;
    right: var(--spacing-lg);
    font-size: var(--font-s-lg);
    cursor: pointer;
    z-index: var(--z-high);

    &:hover {
        color: var(--transparent-light);
    }
}

.productInfo {
    position: relative;
    flex: 1;
}

.overviewImage {
    position: relative;
    margin-right: var(--spacing-lg);
    border-radius: var(--border-radius-md);
}

.overviewProductImg {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-md);
}

.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-self: center;
    flex: 1;
}

.containerContent {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.productInfoMain {
    position: relative;
    width: 100%;
}

.sectionOfProduct {
    position: relative;

    &:first-child.sectionOfProduct::before {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        border-top: 1px solid var(--sub-color);
        top: calc(-1 * (var(--spacing-md) / 2));
    }
}

.productFeature {
    margin-top: var(--spacing-md);
}

.listFeature {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--spacing-md) var(--spacing-lg);
}

.listSpecialFeature {
    margin: var(--spacing-b-lg) 0;
}

.listNormalFeature {
    font-size: var(--font-s-sm);
}

.productPaymentMethod {
    margin-top: var(--spacing-b-lg);
}

.headingPaymentMethod {
    margin-bottom: var(--spacing-sm);
}

.productListPaymentMethod {
    display: flex;
    gap: var(--spacing-md);
}

.paymentMethod {
    --size-icon: 60px;
    // width: var(--size-icon);
    // height: var(--size-icon);
    flex: 0.25;
    max-width: var(--size-icon);
    background-color: var(--contrast-color);
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-lt);
    cursor: pointer;
    transition: opacity 0.2s ease;

    .paymentItem {
        width: 100%;
    }

    &:hover {
        opacity: 0.8;
    }
}



@media (max-width: 63.9375em /*1023px*/) {
    .overview {
        flex-direction: column;
        gap: var(--spacing-md);
        align-items: center;
    }

    .overviewImage {
        margin-right: 0;
    }
}

@media (min-width: 46.25em /*740px*/) and (max-width: 63.9375em /*1023px*/) { 
    .overview {
        flex-direction: column;
        gap: var(--spacing-md);
        align-items: center;
    }

}

@media (max-width: 46.1875em /*739px*/) {

}
