.wrapperHeader {
    display: flex;
    align-items: center;
    height: 90px;
    min-height: 90px;
    font-size: var(--font-s-md);
    position: fixed;
    z-index: 99999;
    width: 100%;
    transition: background-color 0.1s ease-in-out,  backdrop-filter 0.1s ease-in-out;
    backdrop-filter: blur(0);
}

.wrapperHeader.background {
    background-color: var(--transparent-dark);
    backdrop-filter: blur(5px);
}

.headerNavbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mainSection {
    display: flex;
    margin-left: calc(2 * var(--spacing-lg));
}

.navInfo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: var(--spacing-lg);
    &:hover {
        opacity: 0.9;
    }
}

.logoContent {
    width: 120px;
    fill: var(--contrast-color);
    line-height: 1;
}

.navCart {
    cursor: pointer;
    margin-right: calc(2 * var(--spacing-lg));

    &:hover {
        opacity: var(--opacity-lt);
    }

    .cartIcon {
        margin-right: var(--spacing-sm);
    }
    
}

