.wrapperHeader {
    display: flex;
    align-items: center;
    height: 90px;
    min-height: 90px;
    font-size: var(--font-s-md);
    position: fixed;
    z-index: 99999;
    width: 100%;
    transition: background-color 0.1s ease-in-out,  backdrop-filter 0.1s ease-in-out;
    backdrop-filter: blur(0);
}

.wrapperHeader.background {
    background-color: var(--transparent-dark);
    backdrop-filter: blur(5px);
}

.headerNavbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mainSection {
    display: flex;
    margin-left: calc(2 * var(--spacing-lg));
}

.navInfo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: var(--spacing-lg);
    &:hover {
        opacity: 0.9;
    }
}

.logoContent {
    width: 120px;
    fill: var(--contrast-color);
    line-height: 1;
}

.navCart {
    cursor: pointer;
    margin-right: calc(2 * var(--spacing-lg));

    &:hover {
        opacity: var(--opacity-lt);
    }

    .cartIcon {
        margin-right: var(--spacing-sm);
    }



}

.navList {
    --size-btn: 42px;
    display: none;
    font-size: var(--font-s-lg);
    margin-left: auto;
    margin-right: calc(var(--spacing-lg));
    cursor: pointer;
}

.navInfoTablet {
    display: flex;
    flex-direction: column;
}


/* MObile & tablet */
@media (max-width: 63.9375em /*1023px*/) { 
    .isHideInMobileTablet{
        display: none;
    }

    .isShowInMobileTablet{
        display: block;
    }

    .mainSection {
        margin-left: var(--spacing-lg);
    }

}

/* Tablet */
@media (min-width: 46.25em /*740px*/) and (max-width: 63.9375em /*1023px*/) { 
    .isHideInTablet{
        display: none;
    }

    .isShowInTablet{
        display: block;
    }

    .navCart {
        margin-right: calc(1 * var(--spacing-lg));
    }
}

// Mobile
@media (max-width: 46.1875em /*739px*/) {
    .isHideInMobile{
        display: none;
    }

    .isShowInMobile{
        display: block;
    }
}

