.navInfoItem {
    margin: 0 var(--spacing-b-sm);
    font-size: var(--font-s-md);
    cursor: pointer;
    color: var(--contrast-color);
    text-decoration: solid;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: var(--contrast-str-color);
        text-decoration: underline;
    }
}




