.navInfoItem {
    margin: 0 var(--spacing-b-sm);
    font-size: var(--font-s-md);
    cursor: pointer;
    color: var(--contrast-color);
    text-decoration: solid;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: var(--contrast-str-color);
        text-decoration: underline;
    }
}

/* MObile & tablet */
@media (max-width: 63.9375em /*1023px*/) { 

}

/* Tablet */
@media (min-width: 46.25em /*740px*/) and (max-width: 63.9375em /*1023px*/) { 
    .navInfoItem {
        font-size: var(--font-s-sm);
    }
}

// Mobile
@media (max-width: 46.1875em /*739px*/) {

}




