.lossless-audio-info {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    flex-direction: column;

    .lossless-audio-desc {
        font-size: calc(1.5 * var(--font-s-lg));
        max-width: 800px;
        text-align: center;

        span {
            color: var(--primary-color);
        }
    }
}

@media (max-width: 63.9375em /*1023px*/) {


}

@media (min-width: 46.25em /*740px*/) and (max-width: 63.9375em /*1023px*/) { 
    .lossless-audio-info {
        .lossless-audio-desc {
            font-size: calc(1.2 * var(--font-s-lg));
        }
    }
}

@media (max-width: 46.1875em /*739px*/) {
    .lossless-audio {

        .lossless-audio-desc {
            font-size: calc(1 * var(--font-s-lg));
        }
    }
}