.productList {
    position: relative;
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);
    width: 100%;
    padding: 0 var(--spacing-lg);
    height: auto;

    .btnDetail {
        background-color: var(--primary-btn-color);
    }

    .containerCategories {
        flex: 0.2;
        position: relative;

        .categoriesIconCollapse {
            --size-icon: 20px;
            width: var(--size-icon);
            height: var(--size-icon);
            margin-left: auto;
            position: absolute;
            right: var(--spacing-md);
            margin-top: calc(var(--spacing-vr-sm) - 2px);
            cursor: pointer;
            transition: color 0.2s ease;

            &:hover {
                color: var(--primary-color);
            }
        }

        .categories {
            position: relative;
            background-color: var(--contrast-color);
            border-radius: var(--border-radius-md);
            background-color: var(--sub-color);
            padding: var(--spacing-md);
            height: max-content;


    
            .categoriesListItem {
                font-size: var(--font-s-lg);
                margin-top: var(--spacing-md);
                display: flex;
                flex-direction: column;
                gap: var(--spacing-b-sm);
            }
    
            .categoriesItem {
                border-bottom: 1px solid var(--sub-light-color);
                padding-bottom: var(--spacing-sm);
                transition: color 0.2s ease-in-out, height 0.3s ease-in-out;
            }
        }

        .selectCompare {
            margin-top: var(--spacing-md);

            .containerProductCompare {
                display: flex;
                width: 100%;
                margin-top: var(--spacing-md);
                gap: var(--spacing-sm);
                align-items: center;

                .containerImg {
                    flex: 0.8;

                    .productImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--border-radius-md);
                    }
                }

                .productInfo {
                    flex: 0.9;
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-sm);
                    min-width: 110px;

                    .productName {
                        width: 80%;
                        height: 35px;
                    }

                    .productPrice {
                        margin: 0;
                    }

                    .iconDetail {
                        margin-left: var(--spacing-vr-sm);
                    }
                }

            }
        }

        .selectCompare.hide {
            display: none;
        }
    }

    .mainList {
        flex: 0.75;
        display: flex;
        flex-direction: column;

        .listProductContainer {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-md);
            margin-bottom: var(--spacing-md);
            justify-content: center;
        }

        .emptyProduct {
            --size-product: 270px;
            flex: calc(1/3);
            min-width: calc(var(--size-product) - 20px);
        }

        .footerList {
            display: flex;
            justify-content: center;

            .paginationContainter {
                display: flex;
                align-items: center;
                position: relative;
                align-items: flex-end;
            }
    
            .changeAmoutItemContainer {
                display: flex;
                align-items: center;
                width: max-content;
                gap: var(--spacing-sm);
                margin-left: var(--spacing-md);
    
                .text {
                    user-select: none;
                }
    
                .changeAmoutItem {
                    user-select: none;
                }
            }
        }
    }
}

.linkProduct { 
    flex: calc(1/3);
    display: block;
}

@media (max-width: 63.9375em /*1023px*/) {
    
    .productList {
        flex-direction: column;

        .categoriesHeading {
            font-size: var(--font-s-lg);
        } 

        .containerCategories {
            align-items: center;

            .categoriesIconCollapse {
                flex: 1;
                margin-top: 0;
            }

            .categories {
                display: flex;
                align-items: center;
                gap: var(--spacing-md);

                .categoriesListItem {
                    flex-direction: row;
                    margin-top: 0;
                    width: 70%;
                    align-items: center;
                }
        
                .categoriesItem {
                    border: none;
                    flex: calc(1/3);
                    padding: 0;
                }
            }
        }
    }

}

@media (min-width: 46.25em /*740px*/) and (max-width: 63.9375em /*1023px*/) { 
    .productList {
        

        .containerCategories {
            .selectCompare {

                .containerProductCompare { 
                    max-width: 300px;
                    margin: auto;
                }
            }

            .categoriesIconCollapse {
                flex: 1;
                position: relative;
                right: 0;
                margin-left: var(--spacing-b-sm);
            }

            .categories {
                display: flex;
                align-items: center;
                gap: var(--spacing-md);

                .categoriesListItem {
                    flex-direction: row;
                    margin-top: 0;
                    width: 70%;
                    align-items: center;
                }
        
                .categoriesItem {
                    border: none;
                    flex: calc(1/3);
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 46.1875em /*739px*/) {
    .productList {
        padding: var(--spacing-sm);

        .categoriesHeading {
            display: none;
        } 

        .containerCategories {

            .selectCompare {
                display: none;
            }

            .categories {
                padding: var(--spacing-sm);
                min-width: 20vw;
                width: 80vw;
                background-color: unset;
                margin: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .categoriesIconCollapse {
                    display: none;
                }

                .categoriesListItem {
                    flex: 1;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .categoriesItem {
                    font-size: var(--font-s-sm);
                    min-width: 130px;
                }
            }
        }

        .mainList {
            .listProductContainer {
                gap: var(--spacing-sm);
            }

            .emptyProduct {
                min-width: calc(var(--size-product) - 100px);
            }

            .footerList {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--spacing-md);

                .paginationContainter {

                    .paginationContainterItem {
                        font-size: var(--font-s-sm);
                    }
                }
        
            }
        }
    }
}


